.hero-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(14, 14, 14);
  
}

.hero-container img{
    margin-top: 3vh ;
    height: 88vh;
    width: 100%;
    
    

}
