.hero-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color:black;
}

.hero-container img{
    margin-top: 6.5vh ;
    height: 88vh;
    width: 100%;
    border-radius: 2%;
}

