.item-container{
    display: flex;
    flex-direction: column;
    
    
}
.item-image img{
    width: 13vw;
    height: 40vh;
}
.item-para{
    color: rgb(89, 84, 84);
    font-size: 0.8em;
}
/* .item-desc{
    display: flex;
    font-size: 0.4em;
}

.item-desc:hover{
    display: flex;
    background-color: aqua;
} */
.item-links{
    display: flex;
    padding-top: 0.5vh;
}

.item-link button{
    width: 10svw;
    height: 5vh;
    
    background: linear-gradient(270deg,transparent 0,rgb(36,36,40) 30%,rgb(36,36,40) 70%,transparent);;
    padding: 1vh 1vw;
    font-weight: 400;
    font-size: 0.8em;
    color: antiquewhite;
    border-radius: 5%;
}
.item-link button:hover{
    /* border: 2px solid  black; */
    color:  rgb(211, 100, 4);
    cursor: pointer;
    transition: 100ms ease-in-out;
}

@media (max-width:600px) {
    .item-container{
        display: block;
    }
}