.item-container{
    display: flex;
    flex-direction: column;
    
    
}
.item-image img{
    width: 13vw;
    height: 40vh;
}
.item-para{
    color: grey;
    font-size: 0.8em;
}
/* .item-desc{
    display: flex;
    font-size: 0.4em;
}

.item-desc:hover{
    display: flex;
    background-color: aqua;
} */
.item-links{
    display: flex;

}

.item-link button{
    width: 10svw;
    height: 5vh;
    background-color: rgb(121, 14, 14);
    padding: 1vh 1vw;
    font-weight: 400;
    font-size: 0.8em;
    color: antiquewhite;
    border-radius: 5%;
}