.navbar-container{
    height: 9vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    position: fixed;
}
.navbar-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 32vw;
    height: 9vh;
    gap: 2vw;
}
.navbar-search{
    height: 5vh;
    width: 20vw;
    padding-left:1.5vw;
}

.navbar-left img{
    height: 9vh;
}

.navbar-middle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: antiquewhite;
    width: 25vw;
    height: 7vh;
    gap: 3vw;
    margin-left: 4vw;
}
.navbar-right{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 15vw;
    height: 7vh;
    margin-left: 4vw;
}
.logo1 img{
    width: 2.5vw;
    height: 5vh;
   
}
.logo2 img{
    width: 2.5vw;
    height: 5vh;
    border-radius: 50%;
   
}
.navbar-loginbtn{
    display: flex;
    justify-content: center;
    width: 20vw;
    height: 7vh;
    align-items: center;
    
}
.navbar-loginbtn button{
    padding: 4px 8px;
    background-color:rgb(128, 22, 22) ;
    border-radius: 10%;
    color: aliceblue;
    cursor: pointer;
}
.navbarMiddle-links{
    text-decoration: none;
    color: white;
}

@media (max-width:600px){
    .navbar-container{
        width:100%;
        display: flex;
        height: 10vh;
        justify-content:flex-start;

    }
    .navbar-left{
        display: flex;
        justify-content: flex-start;
        width: 20vw;
    }
    .navbar-left img{
        height: 7vh;
    }
    .navbar-search{
        display: none;
    }
    .navbar-middle{
       
        display: flex;
        justify-content: space-around;
        font-size: 0.6rem;
        width: 47vw;
    }
    .navbar-right{
        display: none;
    }
    .navbar-loginbtn{
        width: 32vw;
    }
    .navbar-loginbtn button{
        width: 13vw;
        height: 8vw;
        font-size: 0.6rem;
    }
}