.movies-container{
    display: flex;
    justify-content: flex-start;
    padding-top: 13vh;
    background-color: #100e0e;
   
    
}
.movies-innerContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-left: 3vw;

    
}

.movies-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 3vw;
    padding: 1vh 0;
}
.movies-head{
    color: rgb(211, 206, 206);
    
}