.trending-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-color: black;
    padding-top: 5vh;

}
.trending-heading{
    display: flex;
    justify-content: flex-start;
}

.trending-content{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    padding-top: 3vh;
}